conf/dtd/tiles.dtd

<!-- $Id$ -->

<!ENTITY % bool '( true | false )'>

<!ELEMENT tiles ( tile* | dngTile* ) >

<!ELEMENT tile EMPTY >
<!ATTLIST tile rule               CDATA    #IMPLIED
               animated           %bool;   #IMPLIED               
               opaque             %bool;   #IMPLIED>

<!ELEMENT dngTile ( dngTile+ ) >
<!ATTLIST dngTile displayTile           NMTOKEN       #REQUIRED
                  rule                  CDATA         #IMPLIED>